.item-class{
  background: gray;
  color: pink;
  font-size: 16px;
  max-width: 30px;
  height: 40px;
}

.header-class{
  background: orange;
  color: green;
  font-family: monospace;
  font-size: 20px;
  font-weight: bolder;
  max-width: 80%;
}