h3 {
  font-size: 20px;
  color:green;
  text-decoration: underline;
  margin-bottom: 30px;
}

:host {
  .loader {
    height: 4em;
    display: block;
    line-height: 4em;
    text-align: center;
    position: relative;
    width: 80%;
  }
  .loader:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 2px;
    background: red;
    animation: loader-animation 2s ease-out infinite;
  }
  @keyframes loader-animation {
    0% {
      transform: translate(0%);
    }
    100% {
      transform: translate(500%);
    }
  }
}


.card-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 80%;

  .card-flex-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    column-gap: 20px;
    row-gap:20px;
    justify-content: center;
    // Extra spacing to keep both sides even with the scrollbar
    margin-right: 10px;
    max-width: 1600px;
    margin: 0 auto;

    .ghost-wrap-items{
      width: 300px;
      height: 120px;
      position: absolute;
    }

    .bucket-title{
      :host{
         grid-column: 1/ -1;
         width: 600px;
      }
      
      grid-column: 1/ -1;
      height: 120px;
      display:inline-block;
      overflow-wrap: break-word; 
      background: orange;
      font-family: monospace;
      width: 100%;
     // .bucket-title-text{
        //height: auto;
        font-size: 22px;
        letter-spacing: 1.2pt;
        font-weight: bold;
        position: relative;
        top: 0px;
        color:green;
      //}
    }

    .item-class{      
      position:relative;
      //margin: 4px;
      background: gray;  
      color:red;
      overflow-wrap: break-word; 
      background-color: #1A2128;
      border: #666666;
      border-style: solid;
      border-width: 1px;
      width:320px;
      height: 120px;
      // display: flex;
      // align-items: flex-start;
      // font-style: "Segoe UI";
      font-size: 11px;
    }

  

  }



}